name: Staging deployment

on:
  push:
    branches:
      - staging

jobs:
  deployment:
    runs-on: ubuntu-latest
    name: Deployment
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Prepare and upload files
        run: |
          ssh -o StrictHostKeyChecking=no rocky@${{ vars.STAGING_IP }} << 'EOF'
            sudo rm -Rf /var/www/html/clyup-vms/
            sudo mkdir -p /var/www/html/clyup-vms
            sudo chown -R rocky:rocky /var/www/html/clyup-vms
          EOF
          scp -o StrictHostKeyChecking=no -r ./* rocky@${{ vars.STAGING_IP }}:/var/www/html/clyup-vms
          scp -o StrictHostKeyChecking=no -r ./.env rocky@${{ vars.STAGING_IP }}:/var/www/html/clyup-vms
